{# ./templates/home.html.twig#}
{%extends "base.html.twig" %}
{% block title%}{{title}}{% endblock %}
{% block header %}
<header id="header">
    <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand title" href="<?php echo constant('URL');?>homeModlController">Header</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="<?php echo constant('URL');?>homeModlController">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<?php echo constant('URL');?>newModelController">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="<?php echo constant('URL');?>myBlogPtController">My Blog</a>
            </li>
        </ul>
    </div>
	</nav>
</header>
{% endblock %}

{% block News %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered">
                <caption>
                    <strong>{{ title }}</strong>
                </caption>
                <thead>
                    <tr>
                        <th>News</th>
                        <th>Content</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in news %}
                    <tr class="
                        {% if member.status== 'publish' %} success {% endif %}
                        {% if member.status== 'review' %} danger {% endif %}
                    ">
                    </tr>
                    {% include 'newsBlog.html.twig' with {'title':member.title, 'content':member.content, 'date':member.date} %}
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{#
<div class="container-fluid h-100">
            <div class="row justify-content-center h-100">
                <div class=" fontuse col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="row">
                        <div class="col py-5">
                            <h2 class="fontuse fontsizeverybig fontsizeheavy text-center">Welcome</h2>
                            <form class="py-5" action ="/addUser" method="POST">
                                <div class="form-group row">
                                    <label for="inputName3" class="col-sm-2 col-form-label">Name
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="Name" class="form-control" id="inputName3" placeholder="Name" name="name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputUsername3" class="col-sm-2 col-form-label">User Name</label>
                                    <div class="col-sm-10">
                                        <input type="username" class="form-control" id="inputUserName3" placeholder="username"
                                        name="username" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password"
                                        name="password" required>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary my-5 dropbtn text-center">Submit</button>
                            </form>
                        </div>
                        <div class="col-3">
                            <a href="/Login">Login</a>
                        </div>
                    </div>
                    <p>Go Back <a href="/">Home</a>.</p>
                </div>
            </div>
        </div> #}

{% block footer %}
<!-- Footer -->
<footer id ="footer" class="page-footer font-small">

<!-- Footer Links -->
<div class="container text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
        <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Very long link 1</a>
                </li>
                <li>
                    <a href="#!">Very long link 2</a>
                </li>
                <li>
                    <a href="#!">Very long link 3</a>
                </li>
                <li>
                    <a href="#!">Very long link 4</a>
                </li>
            </ul>

            </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
            </ul>
        </div>
        <!-- Grid column -->
    </div>
    <!-- Grid row -->
</div>
<!-- Footer Links -->
</footer>
<!-- Footer -->
{% endblock %}

{% block form %}
{% import 'form.twig' as forms %}
<form action="/page" method="post">
<p>{{ forms.input('User Name', 'username') }}</p>
<p>{{ forms.input('Password', 'password', null, 'password') }}</p>
<p>{{ forms.input('Your Name', 'name', null, null, 40, 'Enter your full name') }}</p>
</form>
{% endblock %}